html, body {
  border: 0;
  background-color: #353338;
  height: 100%;
  margin: 0;
  padding: 0;
}

.close {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.dropdown {
  margin: 0;
  padding: 0;
  border: 0;
}

.dropdown-box {
  border: 1px solid #353338;
  height: 60px;
  text-align: center;
  width: 60px;
  margin: 0;
  padding: 0;
}

.dropdown-box:hover {
  background-color: #EA504E;
  border: 1px solid #EA504E;
  border-top: 1px solid #353338;
}

.dropdown-box i {
  color: white;
  font-size: 16px;
  padding-top: 22px;
}

.dropdown-hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .215s visibility .215s;
  transition: opacity .215s visibility .215s;
}

.front {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  height: 100%;
  width: 25%;
}

.loader {
  background-color: #252328;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 990;
}

.loader-line {
  background-color: #EA504E;
  height: 0;
  left: 50%;
  position: absolute;
  width: 2px;
  z-index: 991;
}

.loader-percentage {
  bottom: 16px;
  left: 15px;
  color: #FFF;
  position: absolute;
  z-index: 992;
}

@media (min-width:801px) and (max-width: 1200px) {

  .front {
    height: 50%;
    width: 50%;
  }

}

@media (max-width: 800px) {

  .front {
    width: 100%;
  }

}

.sidebar {
  background-color: #2A282C;
  float: left;
  height: 100%;
  position: fixed;
  width: 60px;
  margin: 0;
  padding: 0;
  border: 0;
}

.main {
  background-color:lightblue;
  height: 100%;
  float: left;
  margin-left: 60px;
  padding: 0;
  width: calc(100% - 60px);
}

.menu-box img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  -webkit-transition: -webkit-transform .25s ease-out 0s;
  transition: transform .25s ease-out 0s;
}

.menu-box {
  display: table;
  height: 60px;
  position: relative;
  width: 60px;
  margin: 0;
  padding: 0;
  border: 0;
}

.menu-box:hover {
  background-color: #EA504E;
}

.menu-box-open {
  background-color: #EA504E;
}

.rotate {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
